.App {
  text-align: center;
}

.header {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fbff20;
  padding: 16px;
}

.div-link{
color: #fbff20;
font-size: large;
align-items: center;
padding: 10px;
}

.link {
  color: #61dafb;
}
